@charset "utf-8";

body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

html {
    font-size: 62.5%;
}

div.wrapper {
    width: 100%;
    max-width: 1920px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    line-height: 1.4;
}

h1 {
    font-size: 3.8rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 2.1rem;
}

em {
    color: #e74b3d;
    font-weight: 600;
}

br.sp-br {
    display: none;
}

span.block {
    display: block;
}

span.bottom {
    border-bottom: 2px solid #0a0a0a;
}

header p,
main p {
    margin-bottom: 20px;
}

p.video_back {
    display: block;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 22px;
}

p.video_back_sp img {
    display: none;
}

p.bottom_none {
    margin-bottom: 0;
}

p.briefing_session {
    max-width: 550px;
    margin: 0 auto;
    margin-top: 40px
}

div.cta_section {
    position: relative;
    height: 340px;
}

p.sp_cta {
    display: none;
}

p.pc_cta {
    display: block;
    margin: 0 auto;
    width: 700px;
    position: absolute;
    bottom: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer small {
    font-size: 1.4rem;
    color: #fff;
    opacity: .3;
}

footer {
    background: #0c0c0c;
    padding: 8rem 0;
    z-index: 10000;
    text-align: center;
}

div.logo {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer div.link {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    font-size: 1.5rem;
    padding-bottom: 40px;
    padding-top: 10px;
    margin: 0 auto;
}

footer div.link a {
    color: #fff;
    opacity: .3;
}

@media screen and (max-width:1500px) {
    div.wrapper {
        width: 100%;
    }

    header, main {
        padding: 0 20px;
    }

    p.pc_cta {
        display: block;
        margin: 0 auto;
        width: 800px;
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    div.cta_section {
        height: 350px;
    }

}

@media screen and (max-width:810px) {
    div.wrapper {
        width: 100%;
    }

    p.briefing_session {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 40px
    }

    h1 {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    p.video_back {
        padding-top: 15px;
        margin-bottom: 30px;
    }


    div.cta_section {
        height: 320px;
    }

    p.pc_cta {
        width: 650px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 50%;
    }

}

@media screen and (max-width:650px) {
    div.wrapper {
        width: 100%;

    }

    p.pc_cta {
        display: none;
    }

    p.video_back {
        display: none;
    }

    p.video_back_sp img {
        display: block;
        margin-top: 17px;
    }


    p.sp_cta {
        display: block;
        width: 500px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 50%;
    }
}

@media screen and (max-width:540px) {
    div.wrapper {
        width: 100%;
    }

    h1 {
        font-size: 3.2rem;
    }

    p {
        font-size: 1.8rem;
    }

    span.block_sp {
        display: block;
    }

    p.sp_cta {
        max-width: 450px;
    }
}

@media screen and (max-width:430px) {
    div.wrapper {
        width: 100%;
        line-height: 1.3;
    }


    header p, main p {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 2.7rem;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    br.sp-br {
        display: inline;
    }

    p.briefing_session {
        margin-top: 25px;
    }

    p.after_wtv span.block {
        display: inline;
    }

    div.cta_section {
        height: 250px;
    }

    p.video_back_sp {
        margin-bottom: 20px;
    }

    p.sp_cta {
        width: 380px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 50%;
    }

    span.bottom {
        border-bottom: 1px solid #0a0a0a;
    }

    footer small {
        font-size: .8125rem;
        color: #fff;
        opacity: .3;
    }

    footer {
        background: #0c0c0c;
        padding: 3.75rem 0;
        z-index: 10000;
        text-align: center;
    }

    div.logo {
        max-width: 200px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    footer div.link {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    footer div.link a {
        color: #fff;
        opacity: .3;
    }

}

@media screen and (max-width:390px) {
    h1 {
        font-size: 2.4rem;
    }

    p {
        font-size: 1.6rem;
    }

    div.cta_section {
        height: 230px;
    }

    p.sp_cta {
        width: 350px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 50%;
    }
}